body {
    background-image: url("http://subirimagen.me/uploads/20180226073231.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

.container {
    position: absolute;
    width: 100%;    
    height: 100%;
}

.header {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height:32px;
    background-color: green;
    overflow: hidden;
}

.social {
    position: absolute;
    width: 110px;
    height: 100px;
    margin-top: 0.55%;
    margin-bottom: 0.8%;
    right: 0%;
}

.socialPosition {
    margin-left: 32%;
    margin-right: 32%;
}

.logo {
    position: absolute;
    margin-top: -0.1%;
    margin-left: 3%;
}

.logoIcon {
    position: absolute;
    width: 35px;
}

.image {
    position: absolute;
    width: 18px;
}

.tab {
    position: absolute;
    top: 0%;
    width: 80%;
    left: 10%;
    box-shadow: 0px 1px 30px #a0a0a0e3;
}

.home {
    position: absolute;
    background-color: white;
    top: 44px;
    left: 10%;
    width: 79.9%;
    height: 900px;
}

.main {
    position: absolute;
    width: 100%;
    height: 1000px;
    top: 55px;
    left: 0%;
}

/* tab */
.nav-tabs>li>a {
    background-color: white; 
    border-color: rgb(172, 172, 172);
    color:black;
    font-weight: bold;   
    font-family: "Segoe UI",Arial,sans-serif;
    letter-spacing: 1px;
    font-size: 15px;
    cursor: pointer;
  }
  
  /* hover */
  .nav-tabs>li>a:hover {
    border-color: rgb(129, 129, 129);
    background-color: rgb(218, 218, 218);
  }

/* active */
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
    color: black;
    background-color: rgba(190, 190, 190, 0.877);  
  }

.sticky {
   position: fixed;
   top: 0;
  }